@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Light'), local('NotoSans-Light'), url('../font/NotoSans-Light.eot');
  src: url('../font/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/NotoSans-Light.woff2') format('woff2'),
  url('../font/NotoSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('../font/NotoSans-Regular.eot');
  src: url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/NotoSans-Regular.woff2') format('woff2'),
  url('../font/NotoSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'), url('../font/NotoSans-Medium.eot');
  src: url('../font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/NotoSans-Medium.woff2') format('woff2'),
  url('../font/NotoSans-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('../font/NotoSans-Bold.eot');
  src: url('../font/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/NotoSans-Bold.woff2') format('woff2'),
  url('../font/NotoSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local('Spoqa Han Sans Regular'),
  url('../font/SpoqaHanSansRegular.woff2') format('woff2'),
  url('../font/SpoqaHanSansRegular.woff') format('woff'),
  url('../font/SpoqaHanSansRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local('Spoqa Han Sans Bold'),
  url('../font/SpoqaHanSansBold.woff2') format('woff2'),
  url('../font/SpoqaHanSansBold.woff') format('woff'),
  url('../font/SpoqaHanSansBold.ttf') format('truetype');
}
@font-face {
  font-family: 'BrutalType';
  font-style: normal;
  font-weight: 700;
  src: local('BrutalType Bold'), local('BrutalType-Bold'), url('../font/BrutalType-Bold.eot');
  src: url('../font/BrutalType-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/BrutalType-Bold.woff2') format('woff2'),
    url('../font/BrutalType-Bold.woff') format('woff');
}
@font-face {
  font-family: 'KOTRA_BOLD-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
	
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  letter-spacing: -0.5px;
  background-color: #323232;
}
