.agenda-detail-modal .modal-body .add-regi-btn{text-align:center;margin-top:100px;}
.agenda-detail-modal .modal-body .add-regi-btn button{width:270px;padding:20px 0;border-radius:8px;background:#000;color:#00a3ff;font-size:17px;text-align:center;display:inline-block;margin-top:20px;border:1px solid #52a2ff;}


.unreal_summit .agenda-tab .tab-content .add-calender p{margin-top:10px;color:#000;}
.unreal_summit .agenda-tab .tab-content .add-regi p{margin-top:10px;color:#414141;}
.unreal_summit .agenda-tab .tab-content .add-regi{text-align:center;}
.unreal_summit .agenda-tab .tab-content .add-regi a{width:270px;padding:20px 0;border-radius:8px;background:#00a3ff;color:#242424;font-size:17px;text-align:center;display:inline-block;margin-top:20px;border:1px solid #52a2ff;}


.title-box .b-title{font-size:47px;font-family:"BrutalTypeLight";}
.title-box .b-title:after{content:"";width:1px;height:35px;display:inline-block;background:#000;margin:2px 15px 0 15px;} - 삭제됨
.title-box .s-title{font-size:24px;font-family:"BrutalTypeBold";}


.unreal_summit .faq .faq-list{margin-top:30px; padding:0 50px;}

.unreal_summit .visuall a{width:270px;padding:18px 0;border-radius:8px;background:#52a2ff;color:#fff;font-size:18px;text-align:center;display:inline-block;margin-top:20px;border:1px solid #52a2ff;}

.unreal_summit .agenda-tab .tab-content .add-regi p{margin-top:10px;color:#414141;}
.unreal_summit .agenda-tab .tab-content .add-regi{text-align:center;}
.unreal_summit .agenda-tab .tab-content .add-regi a{width:270px;padding:20px 0;border-radius:8px;background:#00a3ff;color:#ffffff;font-size:17px;text-align:center;display:inline-block;margin-top:20px;border:1px solid #52a2ff;}