.clearfix:after{content:''; display: block; float:none; clear:both;}
.clearfix>*{float:left;}
@font-face { font-family: 'S-CoreDream-9Black'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); font-weight: normal; font-style: normal; }

​

@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }

​

@font-face { font-family: 'S-CoreDream-8Heavy'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); font-weight: normal; font-style: normal; }

​

@font-face { font-family: 'S-CoreDream-4Regular'; src: url(‘https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

​

@font-face { font-family: 'S-CoreDream-7ExtraBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff'); font-weight: normal; font-style: normal; }

​

@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face{font-family:'HGGGothicssi';font-style:normal;font-weight:800;src:url("/new/assets/font/HGGGothicssi-80g.ttf") format("truetype")}
@font-face{font-family:'HGGGothicssi';font-style:normal;font-weight:400;src:url("/new/assets/font/HGGGothicssi-40g.ttf") format("truetype")}

*{font-family: 'Noto Sans KR', sans-serif;}
body{background-color:#222222;padding-bottom:100px;}
a{color:white;text-decoration: none;}


.wrapper{width:100%;max-width:1200px;padding:0 20px;margin:0 auto;box-sizing:border-box;overflow:hidden;}


h2.top_header{font-size:45px;text-align: center;margin-top:100px;color:white;font-weight:500;}
h3.top_subheader{font-size:40px;text-align: center;margin-top:15px;color:#00ffe2;font-weight:300;}

.list_title{font-family:'HGGGothicssi'; font-size:30px;color:#fff;padding-bottom:30px;border-bottom:1px solid #666;margin-top:80px; color: #Fff;}
.list_wrap{margin:0 -25px;}
.list_wrap:after{content:'';display:block;float:none;clear:both;}
.list_wrap>li{float:left;width:25%;padding:0 25px;margin-top:30px; box-sizing:border-box;word-break: keep-all;}
.list_wrap>li>.image_wrap{}
.list_wrap>li>.image_wrap>img{width:100%;border:1px solid #666;box-sizing:border-box;}
.list_wrap>li>.txt_wrap{height:120px;}
.list_wrap>li>.txt_wrap>.title{display:block;font-size:20px; font-weight:500;margin-top:10px;color:#eee;word-break: keep-all;line-height: 1.2;word-break: keep-all;}
.list_wrap>li>.txt_wrap>.name{display:block;margin-top:20px;color:#ddd;font-size:13px;word-break: keep-all;}


.view_title{font-size:30px;color:#fff;padding-bottom:30px;border-bottom:1px solid #666;margin-top:50px;word-break: keep-all;}

.view_subject{font-size:36px; color:#eee;font-weight:700;margin-top:30px;line-height: 1.2;word-break: keep-all;}
.view_name{font-size:21px; color:#ddd;margin-top:20px;word-break: keep-all;}
.view_content{font-size:20px; color:#fff;margin-top:40px;padding:30px 0;box-sizing: border-box;min-height:180px;border:2px solid #555;border-left:0;border-right:0;line-height:1.5; word-break: keep-all;}
.view_btn_back{font-size:20px;height:60px;line-height:60px;padding:0 80px;background-color:#7c7c7c;color:white;font-weight:700;margin-top:30px;border:0;cursor:pointer;}

.video_wrap{position:relative;padding-top:56.25%;margin-top:30px;}
.video_wrap>iframe{position:absolute;left:0;top:0;width:100%;height:100%;}

.video {
	  width: 100%;
	  max-width: 1920px;
	  margin: 00px auto;
	
	  
	  padding: 0px;
	
	
	}
	 
	.video-container {
	  position: relative;
	  width: 100%;
	  height: auto;
	  padding-top: 56.25%;
	  margin-top:20px;
	}
	 
	iframe {
	  z-index: 1;
	  top: 0;
	  left: 0;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	}
@media(max-width:1024px){
	.list_wrap>li{width:33.3333%;}
}
@media(max-width:768px){
	.list_wrap{margin:0 -15px;}
	.list_wrap>li{width:50%;padding:0 15px;}
	h2.top_header{font-size:35px;}
	h3.top_subheader{font-size:25px;}
	.list_title{font-size:23px;}

	.view_title{font-size:23px;}
}
@media(max-width:500px){
	.list_wrap{margin:0 -15px;}
	.list_wrap>li{width:100%;padding:0 15px;}
	.list_wrap>li>.txt_wrap>.title{font-size:20px;}
	.list_wrap>li>.txt_wrap>.name{font-size:18px;}
	h2.top_header{font-size:30px;margin-top:80px;}
	h3.top_subheader{font-size:22px;margin-top:10px;}
	.list_title{font-size:23px;}

	.view_title{font-size:23px;}
	.view_subject{font-size:28px;}
	.view_name{font-size:18px;}
	.view_content{font-size:18px;padding:20px 0;min-height:150px;}
	.view_btn_back{font-size:18px;height:50px;line-height: 50px;padding:0 50px;}
}