@charset "UTF-8";
/* font */

@font-face {
    font-family: 'LeferiPoint';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'LeferiPoint';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LeferiPoint';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight:200;
    src: url('fonts/NotoSans-Thin.woff2') format('woff2'),
    url('fonts/NotoSans-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight:400;
    src: url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('fonts/NotoSansKR-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight:600;
    src: url('fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('fonts/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight:700;
    src: url('fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('fonts/NotoSansKR-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Brutal Type';
    src: url('./fonts/BrutalType-Bold.woff2') format('woff2'),
    url('./fonts/BrutalType-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Brutal Type';
    src: url('./fonts/BrutalType-Black.woff2') format('woff2'),
    url('./fonts/BrutalType-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}